@using LoginAndRegistration.Models
@model User


<h1 class="text-success">Success</h1>


<form asp-controller="Home" asp-action="Logout" method="POST">
    <button class="btn btn-danger btn-sm">Logout</button>
</form>